<div class="container w-full mt-8">
  <h2 class="text-2xl font-medium mb-4">{{ isEditing ? 'Editar Vehiculo' : 'Registrar Vehiculo' }}</h2>

  <!-- Formulario -->
  <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="crearVehiculoForm">
    <!-- Número de Placa -->
    <div>
      <label for="nro_placa" class="block font-medium mb-1">Número de Placa</label>
      <input
        type="text"
        formControlName="nro_placa"
        id="nroPlaca"
        class="form-control w-full px-3 py-2 border rounded-md"
        placeholder="Ingresa el número de placa"
        required
        [disabled]="isEditing"
      />
    </div>

    <!-- Tipo de Vehículo -->
    <div>
      <label for="tipoVehiculo" class="block font-medium mb-1">Tipo de Vehículo</label>
      <select
        id="tipoVehiculo"
        formControlName="tipo_vehiculo"
        class="form-control w-full px-3 py-2 border rounded-md"
        required
      >
        <option value="">Selecciona el tipo de vehículo</option>
        <option *ngFor="let tipo of tipoVehiculoDTO" [value]="tipo.id_tipo_vehiculo">{{tipo.nombre_tipo_vehiculo}}</option>
      </select>
    </div>

    <!-- Marca -->
    <div>
      <label for="marca" class="block font-medium mb-1">Marca</label>
      <input
        type="text"
        formControlName="marca"
        id="marca"
        class="form-control w-full px-3 py-2 border rounded-md"
        placeholder="Ingresa la marca del vehículo"
        required
      />
    </div>

    <!-- Modelo -->
    <div>
      <label for="modelo" class="block font-medium mb-1">Modelo</label>
      <input
        type="text"
        id="modelo"
        formControlName="modelo"
        class="form-control w-full px-3 py-2 border rounded-md"
        placeholder="Ingresa el modelo del vehículo"
        required
      />
    </div>

    <!-- Año del Modelo -->
    <div>
      <label for="anioModelo" class="block font-medium mb-1">Año del Modelo</label>
      <input
        type="number"
        id="anioModelo"
        formControlName="anio_modelo"
        class="form-control w-full px-3 py-2 border rounded-md"
        placeholder="Ingresa el año del modelo"
        min="1900"
        max="2099"
        required
      />
    </div>


    <!-- Número de Motor -->
    <div>
      <label for="nroMotor" class="block font-medium mb-1">Número de Motor</label>
      <input
        type="text"
        id="nroMotor"
        formControlName="nro_motor"
        class="form-control w-full px-3 py-2 border rounded-md"
        placeholder="Ingresa el número de motor"
        required
      />
    </div>

    <!-- Cliente -->
    <div>
      <label for="cliente" class="block font-medium mb-1">Cliente</label>
      <select
        id="cliente"
        formControlName="cliente"
        class="form-control w-full px-3 py-2 border rounded-md"
        required
      >
        <option value="">Selecciona un cliente</option>
        <option *ngFor="let cliente of clientes" [value]="cliente.nro_documento">
          {{ cliente.primer_nombre + ' ' + cliente.segundo_nombre + ' ' + cliente.primer_apellido + ' ' + cliente.segundo_apellido}}
        </option>
      </select>
    </div>

    <!-- Botones -->
    <div class="md:col-span-2 flex justify-end space-x-4 mt-4 mb-10">
      <button
        type="button"
        routerLink="/"
        class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition"
      >
        Cancelar
      </button>
      <button
        (click)="isEditing ? actualizarVehiculo() : crearVehiculo()"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
      >
        {{ isEditing ? 'Actualizar' : 'Guardar' }}
      </button>
    </div>
  </form>
</div>
