<div class="container w-full mt-8">
  <h2 class="text-2xl font-medium mb-4">Facturas</h2>

  <div class="mb-4 d-flex align-items-center">
    <!-- Botón Crear -->
    <button type="button" routerLink="/crear-producto" class="bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600 transition me-2" style="height: 100%;">
      Crear
    </button>

    <!-- Campo de búsqueda y botón Consultar -->
    <div class="d-flex flex-grow-1">
      <input type="text" class="form-control me-2" placeholder="Buscar cliente..." style="height: calc(2.5rem + 2px);">
      <button type="button" class="btn btn-primary" style="height: calc(2.5rem + 2px);">
        Consultar
      </button>
    </div>
  </div>

  <!-- Tabla de Facturas -->
  <table class="table table-striped table-bordered mb-6">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Código Factura</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Cliente</th>
        <th scope="col">ID Orden Servicio</th>
        <th scope="col">Valor Impuesto</th>
        <th scope="col">Total</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>F001</td>
        <td>2024-11-15</td>
        <td>15:00</td>
        <td>Juan Pérez</td>
        <td>OS001</td>
        <td>19.00</td>
        <td>119.00</td>
        <td class="table-buttons">
          <button type="button" class="btn btn-warning btn-sm me-2">Editar</button>
          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>

  <h2 class="text-2xl font-medium mb-4">Detalles de la Factura</h2>

  <!-- Tabla de Detalles de Factura -->
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Código Factura</th>
        <th scope="col">Servicio</th>
        <th scope="col">Repuesto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>F001</td>
        <td>Cambio de Aceite</td>
        <td>Filtro de Aceite</td>
        <td>50.00</td>
        <td>2</td>
        <td>100.00</td>
        <td class="table-buttons">
          <button type="button" class="btn btn-warning btn-sm me-2">Editar</button>
          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
</div>
