<div class="container w-full mt-8">
  <h2 class="text-2xl font-medium mb-4">Generar Reportes</h2>

  <!-- Formulario de filtros para consultas SQL -->
  <div class="mb-6">
    <form class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Campo para seleccionar un cliente (opcional) -->
      <div>
        <label for="reporte" class="block font-medium mb-1">Reporte</label>
        <select
          id="reporte"
          (change)="onReporteChange($event)"
          class="form-control w-full px-3 py-2 border rounded-md border-slate-400 shadow-sm bg-slate-300"
        >
          <option value="">Seleccionar Reporte</option>
          <option *ngFor="let reporte of reportes">{{reporte.nombre_reporte}}</option>

        </select>
      </div>
      <!-- Campo para seleccionar rango de fechas -->
      <div
        *ngIf="mostrarFechas">
        <label for="startDate" class="block font-medium mb-1">Fecha Inicio</label>
        <input
          type="date"
          id="startDate"
          class="form-control w-full px-3 py-2 border rounded-md"
        />
      </div>
      <div
        *ngIf="mostrarFechas">
        <label for="endDate" class="block font-medium mb-1">Fecha Fin</label>
        <input
          type="date"
          id="endDate"
          class="form-control w-full px-3 py-2 border rounded-md"
        />
      </div>

      <!-- Botón para generar reporte -->
      <div class="md:col-span-3">
        <button
          type="button"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition w-full"
        >
          Generar Reporte
        </button>
      </div>
    </form>
  </div>

  <!-- Tabla de resultados del reporte -->
  <div>
    <h3 class="text-xl font-medium mb-3">Resultados</h3>

    <!-- Tablas de acuerdo al reporte seleccionado -->
    <div *ngIf="reporteSeleccionado === 'Clientes con Correo'">
      <app-cliente-con-correo></app-cliente-con-correo>
    </div>

    <div *ngIf="reporteSeleccionado === 'Empleados con Cargo y Salario'">
      <app-empleado-con-cargo></app-empleado-con-cargo>
    </div>

    <div *ngIf="reporteSeleccionado === 'Tarifa Servicios'">
      <app-servicio-con-precio></app-servicio-con-precio>
    </div>
  </div>
</div>
