<div class="container w-full mt-8">
  <h2 class="text-2xl font-medium mb-2">Tabla de Vehiculos</h2>

  <!-- Sección en una sola fila -->
  <!-- Sección en una sola fila -->
  <div class="mb-4 d-flex align-items-center">
    <!-- Botón Crear -->
    <button type="button" routerLink="/crear-vehiculo" class="bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600 transition me-2" style="height: 100%;">
      Crear
    </button>

    <!-- Campo de búsqueda y botón Consultar -->
    <div class="d-flex flex-grow-1">
      <input type="text" #nroPlaca class="form-control me-2" placeholder="Buscar por placa del Vehiculo..." style="height: calc(2.5rem + 2px);">
      <button
        type="button"
        (click)="obtenerVehiculo(nroPlaca.value)"
        class="btn btn-primary" style="height: calc(2.5rem + 2px);">
        Consultar
      </button>
      <button
        type="button"
        (click)="limpiarFiltro(nroPlaca)"
        class="bg-yellow-500 ml-1 rounded-md" style="height: calc(2.5rem + 2px);">
        <i class="fas fa-times px-3"></i>
      </button>
    </div>
  </div>

  <!-- Tabla -->
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nro Placa</th>
        <th scope="col">Tipo Vehiculo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año del Modelo</th>
        <th scope="col">Propietario</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <td>{{ vehiculo.nro_placa }}</td>
        <td *ngIf="vehiculo.tipo_vehiculo === 1">CAMIONETA</td>
        <td *ngIf="vehiculo.tipo_vehiculo === 2">CARRO</td>
        <td *ngIf="vehiculo.tipo_vehiculo === 3">MOTO</td>
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.anio_modelo }}</td>
        <td>{{ getNombreClienteAsociado(vehiculo.cliente ) }}</td>
        <td class="table-buttons">
          <button
            type="button"
            [routerLink]="['/crear-vehiculo']"
            [queryParams]="{ nro_placa: vehiculo.nro_placa }"
            class="btn btn-warning btn-sm me-2">
            Editar
          </button>
          <button
            type="button"
            (click)="eliminarVehiculo(vehiculo.nro_placa)"
            class="btn btn-danger btn-sm"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
